<a href="https://colab.research.google.com/github/StevenWestmoreland/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/DSPT6_Unit1_Sprint1_MakeFeatures_StevenWestmoreland.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
# import the data
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-14 16:05:44--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                <=> ]  21.71M   833KB/s    in 27s

2020-03-14 16:06:12 (813 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22763850]

In [0]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
# reading in the csv
import pandas as pd
loans_df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
loans_df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
## CONVERT TERM COLUMN FROM STRING TO INT
# check term column entries to determine what needs to be done,
# such as looking for any leading or training spaces, etc.
loans_df['term'][3]

' 60 months'

In [0]:
# we need to drop both the leading space and the ' months' from the string
# begin by creating a function to handle this
def TermToInt(cell_contents) :
  return int(cell_contents.strip().strip(' months'))

In [0]:
# apply function to each cell in the column
new_list = []

for cell in loans_df['term']:
  new_list.append(TermToInt(cell))

In [0]:
# check the list
new_list[:10]

[60, 36, 36, 60, 60, 36, 60, 36, 36, 36]

In [0]:
# convert list to a new column
loans_df['term_cleaned'] = pd.Series(new_list)
loans_df[['term', 'term_cleaned']].head()

         term  term_cleaned
0   60 months            60
1   36 months            36
2   36 months            36
3   60 months            60
4   60 months            60

In [0]:
## CREATE COLUMN 'loan_status_is_great' THAT READS AS '0' OR '1'
# check original column value counts
loans_df['loan_status'].value_counts()

Current               92485
Fully Paid            24821
Charged Off            6766
Late (31-120 days)     2210
In Grace Period        1405
Late (16-30 days)       486
Default                 111
Name: loan_status, dtype: int64

In [0]:
# check for null values
loans_df['loan_status'].isnull().sum()

0

In [0]:
# convert 'Current' and 'Fully Paid' to '1', everything else to '0'
# create 'loan_status_is_great' column and populate with '1' & '0'
loans_df['loan_status_is_great'] = '0'
loans_df.loc[loans_df['loan_status']=='Current', 'loan_status_is_great']= '1'
loans_df.loc[loans_df['loan_status']== 'Fully Paid', 'loan_status_is_great']= '1'
loans_df['loan_status_is_great'].value_counts()

1    117306
0     10978
Name: loan_status_is_great, dtype: int64

In [0]:
# check the two columns in a side by side comparison
loans_df[['loan_status', 'loan_status_is_great']].head()

          loan_status loan_status_is_great
0          Fully Paid                    1
1             Current                    1
2          Fully Paid                    1
3  Late (31-120 days)                    0
4             Current                    1

In [0]:
## CREATE AND POPULATE 'last_pymnt_d_month' and 'last_pymnt_d-year' COLUMNS
# convert 'last_pymnt_d' to a datetime format, and verify
loans_df['last_pymnt_d_formatted'] = pd.to_datetime(loans_df['last_pymnt_d'], infer_datetime_format=True)
loans_df[['last_pymnt_d', 'last_pymnt_d_formatted']].head()

  last_pymnt_d last_pymnt_d_formatted
0     May-2019             2019-05-01
1     Feb-2020             2020-02-01
2     Feb-2019             2019-02-01
3     Oct-2019             2019-10-01
4     Feb-2020             2020-02-01

In [0]:
# create 'last_pymnt_d_month' and 'last_pymnt_d_year' columns
loans_df['last_pymnt_d_month'] = loans_df['last_pymnt_d_formatted'].dt.month
loans_df['last_pymnt_d_year'] = loans_df['last_pymnt_d_formatted'].dt.year
loans_df[['last_pymnt_d', 'last_pymnt_d_formatted', 'last_pymnt_d_month', 
          'last_pymnt_d_year']].sample(10)

       last_pymnt_d  ... last_pymnt_d_year
123202     Feb-2020  ...            2020.0
38406      Mar-2019  ...            2019.0
83172      Feb-2020  ...            2020.0
17441      Nov-2019  ...            2019.0
41885      Feb-2020  ...            2020.0
65496      Feb-2020  ...            2020.0
33775      Jun-2019  ...            2019.0
74282      Feb-2020  ...            2020.0
76278      Feb-2020  ...            2020.0
63691      May-2019  ...            2019.0

[10 rows x 4 columns]

In [0]:
# why is the new column a float and not an integer? Need to work out why
# start with, is there any NaN hanging about in the dataset
loans_df['last_pymnt_d_year'].isnull().sum()

159

In [0]:
# There is. So we need to fix that.
loans_df['last_pymnt_d'].value_counts(dropna=False)

Feb-2020    93927
Jul-2019     3141
Jan-2020     3028
Dec-2019     2789
Sep-2019     2755
Oct-2019     2741
Aug-2019     2712
May-2019     2547
Nov-2019     2430
Apr-2019     2352
Jun-2019     2284
Mar-2019     1980
Feb-2019     1915
Jan-2019     1561
Dec-2018     1052
Nov-2018      678
Oct-2018      233
NaN           159
Name: last_pymnt_d, dtype: int64

In [0]:
# first, we can drop the na values
loans_df = loans_df.dropna(subset=['last_pymnt_d_year', 'last_pymnt_d_month'])

In [0]:
# did that work?
loans_df['last_pymnt_d_year'].isnull().sum()

0

In [0]:
# So now we can convert to integer
loans_df['last_pymnt_d_year'] = loans_df['last_pymnt_d_year'].copy().astype('int32')

In [0]:
loans_df[['last_pymnt_d', 'last_pymnt_d_formatted', 'last_pymnt_d_month', 
          'last_pymnt_d_year']].sample(10)

       last_pymnt_d  ... last_pymnt_d_year
30613      Feb-2020  ...              2020
79056      Feb-2020  ...              2020
24672      Mar-2019  ...              2019
67887      Feb-2020  ...              2020
125784     Feb-2020  ...              2020
84313      Sep-2019  ...              2019
100178     Feb-2020  ...              2020
105579     Feb-2020  ...              2020
90731      Feb-2020  ...              2020
2654       Jan-2019  ...              2019

[10 rows x 4 columns]

In [0]:
# same process for the new months column
loans_df['last_pymnt_d_month'].isnull().sum()

0

In [0]:
loans_df['last_pymnt_d_month'] = loans_df['last_pymnt_d_month'].copy().astype('int32')

In [0]:
loans_df[['last_pymnt_d', 'last_pymnt_d_formatted', 'last_pymnt_d_month', 
          'last_pymnt_d_year']].sample(10)

       last_pymnt_d  ... last_pymnt_d_year
99918      Jun-2019  ...              2019
110917     Feb-2020  ...              2020
51057      Feb-2020  ...              2020
78929      Feb-2020  ...              2020
125536     Feb-2020  ...              2020
9310       Feb-2020  ...              2020
4744       Dec-2019  ...              2019
51458      Feb-2020  ...              2020
38321      Feb-2020  ...              2020
113510     Feb-2020  ...              2020

[10 rows x 4 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01